body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
header{
    background-color: rgb(11, 9, 10);
    margin: -8px;
    font-size: x-small;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.barra{
    color: white;
    position: relative;
    left: 300px;
    padding-right: 100px;
    padding-top: 15px;
    font-weight: 400;
}

.registro {
    left: 50px;
    padding-right: 70px;
    display: inline-block;
    padding: 0.7rem 1.4rem;
    font-size: 16px;
    font-weight: 400;
    color: white;
    border: 1px solid rgb(102, 7, 8);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;

}
   
   .registro::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(102, 7, 8);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;

}
   
   .registro:hover::before {
    transform: translateX(0);
    
}

main{
    background-color:rgba(0, 0, 0, 0.938);
    position: relative;
    margin: 8px;
    margin-right: -8px;
    margin-left: -8px;

}

#main1{
    color:rgb(177, 167, 166);
    position: relative;
    padding-right: 35%;
    left: 50px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: flex-start;
    
}

.font{
    font-weight: 50;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.barra1{
    color: white;
    position: relative;
    right: 220px;
    padding-right: 200px;
    padding-top: 10px;
    font-weight: 400;
}

.foto{
    position: absolute;
    left: 1000px;
    bottom: 870px;
    width: 300px;
}