html {
    height: 0%;
    width: auto;
}
a {
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll;
    margin: auto;  
}

header{
    background-color: rgb(11, 9, 10);
    font-size: x-small;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main{
    background-color:rgba(0, 0, 0, 0.938);
    position: relative;
}

aside {
    float: right;
    margin-bottom: 100%;
}

article {
    
}

article h1 {
    font-weight: 50;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: auto;
    color: rgb(177, 167, 166);
    padding: 15px;
}

article p {
    font-weight: 50;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: auto;
    color: rgb(177, 167, 166);
}

header, main, aside, footer {
	padding: 5px;
}


.barra{
    color: white;
    position: relative;
    left: 300px;
    padding-right: 100px;
    padding-top: 15px;
    font-weight: 400;
}

.barra:hover {
    color: red;  
}

.registro {
    left: 50px;
    padding-right: 70px;
    display: inline-block;
    padding: 0.7rem 1.4rem;
    font-size: 16px;
    font-weight: 400;
    color: white;
    border: 1px solid rgb(102, 7, 8);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}
   
   .registro::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(102, 7, 8);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}
   
   .registro:hover::before {
    transform: translateX(0); 
}

.barra1{
    color: white;
    position: relative;
    right: 220px;
    padding-right: 200px;
    padding-top: 10px;
    font-weight: 400;
}
  